
.heading{
  font-size: 1.8rem;
  color:rgb(38, 125, 232);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 4rem;
}
.nextbtn{
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 70%;
  margin-top: 1rem;
}
button{
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.enabled{
  background-color: rgb(91, 170, 223);
  
  cursor: pointer;
}
.disabled{
cursor: no-drop;
background: rgb(204, 200, 200);
}

